* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #009579;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    padding-right: 40px;
}

.nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.nav a:hover {
    background-color: lightgray;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    width: fit-content;
    height: auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto auto 50px auto;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.form {
    width: fit-content;
    height: auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;
}

.label {
    font-weight: bold;
    display: block;
    width: fit-content;
    float: left;
    margin-bottom: 10px;
}
label:after { content: ": " }

input {
    width: 100%;
    margin-bottom: 10px;
}

select {
    width: 100%;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;;
}

h2 {
    text-align: center;
}

p {
    width: fit-content;
    align-items: center;
}

.table {
    width: fit-content;
    height: auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;
}

.table-head {
    padding-right: 20px;
    padding-left: 20px;
}