<header>
    <nav>
<<<<<<< HEAD
      <a href="/">Dashboard</a>
=======
      <a href="/">Fuel Quote</a>
      <ul>
        <li><a href="/users">All Users (DEV USE ONLY)</a></li>
        <li><a href="/users/new">Register User</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/quotes">All Quotes (DEV USE ONLY)</a></li>
        <li><a href="/quotes/new">New Quote</a></li>
      </ul>
>>>>>>> 5d573747b35512a272ccedc9598e2078f4750dd0
    </nav>
  </header>