<h2>All Quotes</h2>
<div>
  <% quotes.forEach(quote => { %>
    <a href="/quotes/<%= quote.id %>">
      <div>
        <%= quote.deliveryDate.toISOString().split('T')[0] %>
    </div>
    </a>
  <% }) %>
</div>
