<h2>Register</h2>
<form action="/users" method="POST">
  <%- include('_form_fields') %>
  <!-- <a href="/users">Cancel</a> -->
  <a href="/users/login">Login</a>
  <button type="submit">Register</button>
</form>
